# Problema de Negócio e Observações

PROBLEMA - 

Uma importadora trabalha com diversos produtos, produtos esses vinculados a cotação do Dolar, Euro e Ouro. 

Sendo assim, considerando que o preço de tais moedas influencia no faturamento e no preço de compra e venda dos produtos, para melhor visulaizar e agilizar os processos dentro da empresa, a área de dados foi questionada sobre a possibilidade de automatizar a tarefa de atulizar a base de dados com os referidos valores, especialmente a reverberação no preço final dos produtos. 

OBSERVAÇÕES - 

Para resolver esse problema, buscas serão por informações serão feitas na Web, na sequência o banco de dados será atualizado com tais informaçoes e exportado para um arquivo excel, tudo de maneira automatizada.

In [46]:
#1 - Instalando o Selenium  - neste caso o chromedriver já foi baixado

!pip install selenium

Requirement already satisfied: selenium in c:\users\eric\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\eric\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\eric\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\eric\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\eric\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\users\eric\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\eric\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\eric\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\eric\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\eric\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\eric\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\eric\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\eric\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\eric\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\eric\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\eric\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\eric\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\eric\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\eric\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

WARNING: Ignoring invalid distribution -atplotlib (c:\users\eric\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\eric\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\eric\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\eric\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\eric\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\eric\anaconda3\lib\site-packages)

In [47]:
#2 - importando o selenium e o pandas

from selenium import webdriver #controla o navegador
from selenium.webdriver.common.by import By #selecionar os itens no navegador
from selenium.webdriver.common.keys import Keys #controla o teclado

import pandas as pd

In [48]:
#3 - Criando/abrindo o navegador

navegador = webdriver.Chrome()

#3-A: pesquisando e colhendo a cotação do Dolar no google  

navegador.get("https://www.google.com.br/")
navegador.find_element( 
    By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação dolar", Keys.ENTER)
cotacao_dolar = navegador.find_element( 
    By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)

#3-B: pesquisando e colhendo no goggle a cotação do Euro 

navegador.get("https://www.google.com.br/")
navegador.find_element( 
    By.XPATH, '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("cotação euro", Keys.ENTER)
cotacao_euro = navegador.find_element( 
    By.XPATH, '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

#3-C: Pesquisando e colhendo a cotação do ouro no site: https://www.melhorcambio.com/ouro-hoje

navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element(By.XPATH, '//*[@id="comercial"]').get_attribute('value')

cotacao_ouro = cotacao_ouro.replace(',', '.')
print(cotacao_ouro)

#3-D: fechando o navegador

navegador.quit()

5.018
5.51257408
324.63

In [49]:
#4- importando a base de dados

tabela = pd.read_excel("produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [50]:
#5-A: atualizando a cotação na base de dados

#Função loc[linha, coluna]

tabela.loc[tabela["Moeda"] == "Dólar","Cotação"] = float(cotacao_dolar)

tabela.loc[tabela["Moeda"] == "Euro","Cotação"] = float(cotacao_euro)

tabela.loc[tabela["Moeda"] == "Ouro","Cotação"] = float(cotacao_ouro)

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.018000,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,5.512574,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5.018000,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5.018000,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,5.512574,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5.018000,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,324.630000,7000.00,1.15,8050.000

As casas decimais seram melhor apresentadas quando o arquivo for exportado para o excel

In [51]:
#5-B: atulizando o Preço de Compra e Preço de Venda

tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]

tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela ["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.018000,5017.94982,1.40,7025.129748
1,Carro Renault,4500.00,Euro,5.512574,24806.58336,2.00,49613.166720
2,Notebook Dell,899.99,Dólar,5.018000,4516.14982,1.70,7677.454694
3,IPhone,799.00,Dólar,5.018000,4009.38200,1.70,6815.949400
4,Carro Fiat,3000.00,Euro,5.512574,16537.72224,1.90,31421.672256
5,Celular Xiaomi,480.48,Dólar,5.018000,2411.04864,2.00,4822.097280
6,Joia 20g,20.00,Ouro,324.630000,6492.60000,1.15,7466.490000

In [52]:
#6 - Exportar  a tabela para excel

tabela.to_excel("produtoatualizado.xlsx", index=False)

Fim!